body {
  background-color: #f8f9fa;
}
a {
  color: black;
  font-weight: 600; 
}

.login-container {
  max-width: 450px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.login-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.login-form {
  margin-top: 20px;
}

.login-link {
  margin-top: -14px;
  margin-bottom: 40px;
  font-size: 14px;
  text-align: right;
  color: #8E3DDE; 
}

.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-link a {
  color: #8E3DDE; 
}

.form-group label {
  text-align: left;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.btn-purple {
  background-color: #8E3DDE; 
  color: #ffffff;
  font-weight: 600;
  border: 2px solid #8E3DDE;
  font-size: 20px;
  padding: 12px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.btn-purple:hover {
  background-color: #800080; 
}

.input-group-append {
  border: none; 
}